.main-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #eacdab;
  color: rgb(189, 132, 89);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

}

.header-left {
  display: flex;
  align-items: center;
  }

.logo-image {
  height: 60px;
  margin-right: 1rem;
  border-radius: 25%;
}

.logo-text {
  font-size: 2rem;
  font-weight: bold;
  }

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
  }
}