
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(174, 68%, 78%);
}

header, footer {
  background-color: #75e6a6;
  color: rgb(14, 73, 59);
  padding: 1rem;
}

nav a {
  color: rgb(9, 61, 34);
  margin-right: 1rem;
  text-decoration: none;
}

main {
  padding: 2rem;
}
