
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(32, 40%, 63%);
}

header, footer {
  background-color: #eaa86ee8;
  color: rgb(73, 45, 14);
  padding: 1rem;
}

nav a {
  color: rgb(73, 45, 14);
  margin-right: 1rem;
  text-decoration: none;
}

main {
  padding: 2rem;
}
